@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Playfair Display', serif;
    color: black;
}

/*-----------------------------NAVBAR-----------------------------*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0%;
}

.navbar-brand img {
    height: 50px;
    padding: 0px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff;
    font-weight: 600;
    float: right;
    text-align: left;
}

/*----------------------------BODY-----------------------------*/

body {

}